/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    overflow-x: hidden;
}

header {
    background: #FFFFFF;
    color: #5b5b5b;
    position: sticky;
    scroll-snap-type: y mandatory;
    top: 0;
    z-index: 1000;
}

.logo {
    max-width: 156px;
    height: 44px;
    align-content: center;
}

h1 {
    font-family: "Lato";
    font-style: normal;
}

p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
}

a {
    font-family: "Lato";
    font-style: normal;
}

button {
    font-family: "Lato";
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 18px 65px 16px;
    color: #fff;
    border-bottom: 1px solid #D6D6D6;
    gap: 140px;
}

.nav-groug {
    display: flex;
    justify-content: space-between
}

.nav-mix {
    display: flex;
}

.nav-links {
    list-style: none;
    color: #fff;
    gap: 8px;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
}

.nav-links a {
    font-family: "Arimo";
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    transition: color 0.3s;
    text-decoration: none;
    color: #060606;
    width: 79px;
    height: 16px;
    text-align: center;
}

.nav-login {
    display: flex;
    gap: 25px;
    margin: 0;
    padding-left: 564px;
    align-items: flex-end;
}

.user-icon .menu-icon {
    width: 24px;
    height: 24px;
}

.cart-icon {
    width: 33px;
    height: 39px;
}

.nav-links a:hover {
    color: #024E82;
}

.welcome {
    color: #060606;
    text-align: center;
    position: relative;
}

.welcome img {
    /* max-width: 1440px; */
    height: 348px;
    object-fit: cover;
    width: 100%;
}

.welcome-overlay {
    position: absolute;
    bottom: 70px;
    max-width: 460px;
    width: 100%;
    /* transform: translate(60px, -50%); */
    text-transform: uppercase;
}

.welcome h1 {
    color: #ffffff;
    font-size: 48px;
    margin: 0;
    font-weight: 400;
    width: 460px;
    height: 48px;
}

/* contact us from */
.contact-mix {
    display: grid;
    grid-template-columns: 820px 350px;
    gap: 102px;
    justify-content: center;
    margin: 149px 0 110px;
}

.contact-mix h1 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Arimo';
    color: #3A3939;
    margin: 0;
}

.contact-mix h2 {
    margin: 0px;
    font-size: 24px;
    font-family: 'Arimo';
    font-weight: 700;
    color: #1D1D1D;
}

.contact-mix p {
    font-size: 16px;
    color: #555555;
    margin: 32px 0 48px;
}

.form {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 20px;
}

.form p {
    margin: 0px;
}

.form input {
    margin-top: 8px;
    width: 400px;
    height: 58px;
    border: 1px solid #EBEBEB;
}

.form-textarea {
    display: flex;
    flex-direction: column;
}

.form-textarea p {
    margin: 20px 0 12px;
}

.form-textarea textarea {
    width: 820px;
    height: 188px;
    border: 1px solid #EBEBEB;
}

.form-textarea button {
    width: 192px;
    height: 58px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    background-color: #024E82;
    color: white;
    /* transform: unset; */
    text-transform: uppercase;
    border: none;
}

.form-textarea button:hover {
    background-color: #4f71b0;
    color: white;
}

.infomation p {
    margin: 16px 0 48px;
}

/* footer */
.footer {
    padding: 53px 63px 31px;
}

.footer-mix {
    display: flex;
    margin-bottom: 70px;
}

.footer-list {
    flex: 1;
    min-width: 200px;
}

.footer-list b {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 29px;
    font-weight: 700;
    font-family: 'Arimo';
}

.footer-list p {
    margin: 0 0 5px;
    font-size: 16px;
    color: #1D1D1D;
}

.footer-list p:hover {
    text-decoration: underline;
}

.email-form {
    display: flex;
    align-items: center;
    color: #555555;
}

.email-form input {
    flex: 1;
    padding-bottom: 17px;
    border: none;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 400;
    display: block;
    border-bottom: 1px solid #1D1D1D;
}

.email-form button {
    padding-bottom: 17px;
    border: none;
    background-color: snow;
    font-size: 16px;
    font-weight: 900;
}

.email-form button:hover {
    color: #ef1313;
}

.footer-bottom {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555555;
    border-top: 1px solid #E8E8E8;
}

.footer-title {
    margin-bottom: 10px;
}

.footer-title-two {
    margin: 0;
}

.payment-icons {
    display: flex;
    gap: 16px;
}

.payment-icons img {
    width: 56px;
    height: 34px;
}